{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="container">
    <h3>Les produits de la catégories</h3>
    {% if listProductByCategory %}

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>prix (€)</th>
        </tr>
        {% for row in listProductByCategory %}
        <tr>
            <td><a href="{{path('detailProduct',{'id':row.id})}}">{{row.name}}</a></td>
            <td>{{row.price}}</td>
            <td><a href="{{path('deleteProduct',{'id':row.id})}}" class="btn btn-danger"> X </a></td>
        </tr>
        
        {% endfor  %}
    {% else %}
        <h3>Aucun résultat trouvé !</h3>
    {% endif %}
    </table>


</div>
{% endblock %}