{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="container">
    <h3>Les produits de la catégories</h3>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>prix (€)</th>
        </tr>
        {% for row in listProductByCategory %}
        <tr>
            <td><a href="{{path('detailProduct',{'id':row.id})}}">{{row.name}}</a></td>
            <td>{{row.price}}</td>
        </tr>

        {% endfor  %}
    </table>


</div>
{% endblock %}