{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="container">
    <h3> Détail du produit</h3>

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>price (€)</th>
        </tr>
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
    </table>

</div>
{% endblock %}