{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        {% for product in listProduct %}
            <div class="col">
    
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="/img/{{product.img}}"
                        alt="{{product.slug}}" width="500">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.price}} €</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor  %}
    </div>
</div>
{% endblock %}