{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="container">

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>prix</th>
        </tr>
        {% for product in listProduct %}
        <tr>
            <td><a href="{{path('detailProduct',{'id':product.id})}}">{{product.name}}</a></td>
            <td>{{product.price}}</td>
        </tr>

        {% endfor  %}
    </table>


</div>
{% endblock %}